/* Buttons ohmyfood */

@use '../abstracts/' as *; 
@use '../base/' as *;

.button {
    @extend %border-radius3;
    @include shadow-light-down;
    cursor: pointer;
    background: linear-gradient(175deg, $colour-reddishMagenta 0%, $colour-mediumPurple 100%);
    font-size: map-get($font-size, small);
    color: white;
    padding: 1rem;
   
}