/* Cards ohmyfood */
/* Mobile First */

@use '../abstracts/' as *; 
@use '../base/' as *;


.container__cards{
    @include flex-column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    @include respond(tablet){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.card{
    @include flex-verticenter;
    @include shadow-light-down;
    @extend %border-radius1;
    margin: 1rem 0;
    position: relative;
    &__operation{
        @extend .bg__greyfo2;
        @extend %border-radius2;
        cursor: pointer;
        width: 95%;
        height: 4rem;
        counter-increment: card-list;
        @include respond(tablet){
            width: 40%;
        }
        @include respond(desktop){
            width: 22rem;
        }
        @include respond(large-desktop){
            width: 24rem;
        }
        &::before{
            content: counter(card-list);
            @include flex-center;
            @extend %border-radius3;
            padding: 0.25rem 0.5rem;
            background: $colour-mediumPurple;
            color: white;
            position: absolute;
            left: -0.75em;
        }
    }
    &__restaurant{
        @include flex-column;
        background: white;
        height: 15rem;
        width: 100%;
        overflow: hidden;
        h1, h2, h3, h4 {
            padding-bottom: 1rem;
        }
        @include respond(tablet){
            width: 45%;
        }
        @include respond(desktop){
            width: 24%;
        }
    }
    &__img{
        height: 10rem;
        width: 100%;
        cursor: pointer;
    }
    &__bottomctnr{
        @include flex-center;
        display: flex;
        padding: 0.5rem 1rem;
        height: 100%;
        width: 100%;
        justify-content:space-between;
    }
    
}
