/* Footer ohmyfood */
/* Mobile First */

@use '../abstracts/' as *; 
@use '../base/' as *; 

footer{
    margin-top: auto;
    @include padding-all(large);
    @include flex-column;
    .title__footer{
        @include padding-vertical(large);
        color : white
    }
    .container__links {
        @include flex-column;
        .link > *{
            @include padding-vertical(small);
            color: white;
        }
    }
    
}