/* Footer ohmyfood */
/* Mobile First */

@use '../abstracts/' as *; 
@use '../base/' as *; 

footer{
    margin-top: auto;
    @include flex-column;
    .title__footer{
        color : white;
        padding-bottom: 1rem
    }
    .container__links {
        @include flex-column;
        .link{
            padding : 0.25rem 0;
            &>*{color: white;}
        }
        
    }
    
}