/* Form ohmyfood */
/* Mobile First */

@use '../abstracts/' as *; 
@use '../base/' as *; 

form{
    @include flex-column;
    .locate__part1{
        @include flex-2center;
        height: 40px;
        text-align: center;
        .locate__icon{
            cursor: pointer;
        }
    }
    .locate__part2 {
        @include flex-column;
        @include flex-2center;
        justify-content: space-around;
        padding-top: 6%;
        padding-bottom: 6%;
        height: 180px;
        text-align: center;
        h3, input{
            margin-right: 25%;
            margin-left: 25%;
        }
        p {
            margin-right: 15%;
            margin-left: 15%;
        }
    }
}

.input__text{
    max-width: 120px;
    text-align: center;
}

input{
    border: none;
    background: none;
    &:focus{
        outline: none;
    }
}

