/* Footer ohmyfood */
/* Mobile First */

@use '../abstracts/' as *; 
@use '../base/' as *; 

form{
    @include flex-2center;
    //background:$colour-darkGrey-l10;
    height: 40px;
    background: fade-out($colour-darkGrey, 0.90);
}

.locate__button{
    cursor: pointer;
}