/* Icons ohmyfood */

@use '../abstracts/' as *; 
@use '../base/' as *;

.icon{
    font-size: map-get($font-size , "medium");
    &__card{
        padding: 0 2rem ;
    }
    &__heart, &__heart--filled{
        font-size: map-get($font-size , "large");
    }
    &__heart{
        opacity: 1;
        position: absolute;
    }
    &__heart--filled{
        opacity: 0;
        background-image: linear-gradient(to bottom left, $colour-reddishMagenta, $colour-mediumPurple);
        background-clip: text;
        color: transparent;
    
    }
    &__footer{
        width: 2rem;
    }
}

.icons__heart:hover {
    cursor: pointer;
    .icon__heart {
      opacity: 0;
  
      &--filled {
        opacity: 1;
      }
    }
  }

  

