/* Operation Section ohmyfood */
/* Mobile First */

@use '../abstracts/' as *; 
@use '../base/' as *; 

.operation{
    @include flex-column;
    height: 300px;
    .container__cards{
        height: 80%;
        @include flex-column;
        justify-content: space-around;
        align-items: center;
    }
    padding: 8%
}