/* Footer ohmyfood */
/* Mobile First */
@use "../1-base/" as *;
@use "../2-utils/" as *;
@use "_sections.scss/" as *;

footer {
  @extend .section;
  .title__footer {
    color: white;
    padding-bottom: 1rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    a {
      color: white;
      line-height: 2rem;
      i {
        color: white;
      }
    }
  }
}
