/* Footer ohmyfood */
/* Mobile First */
@use '../1-base/' as *; 
@use '../2-utils/' as *; 


footer{
    @include flex-column;
    .title__footer{
        color : white;
        padding-bottom: 1rem
    }
    .container__links {
        @include flex-column;
        .link{
            padding : 0.25rem 0;
            &>*{color: white;}
        }
        
    }
    
}