/* Form ohmyfood */
/* Mobile First */
@use '../1-base/' as *; 
@use '../2-utils/' as *; 


form{
    @include flex-column;
    .locate__part1{
        @include flex-center;
        padding: 1rem;
        text-align: center;
        .icon__locate:hover{
            cursor: pointer;
            color: $colour-reddishMagenta;
        }
    }
    .locate__part2 {
        @include flex-column;
        @include flex-center;
        justify-content: space-around;
        text-align: center;
        &>*{
            margin: 1rem 0;
        }
    }
}

.input__text{
    text-align: center;
}

input{
    border: none;
    background: transparent;
    &:focus{
        outline: none;
    }
}

