/* Form ohmyfood */
/* Mobile First */
@use "../1-base/" as *;
@use "../2-utils/" as *;

.locate-city {
  @include flex-center;
  padding: 1rem;
  //text-align: center;
}
.explore-restaurants {
  @include flex-column;
  @include flex-center;
  justify-content: space-around;
  text-align: center;
  height: 18rem;
  padding: 2rem 3rem;
  @include respond(tablet) {
    height: 15rem;
  }
}

input {
  border: none;
  background: transparent;
  &:focus {
    outline: none;
  }
}

.input__text {
  text-align: center;
}
