/* Menu ohmyfood */
/* Mobile First */
@use "../1-base/" as *;
@use "../2-utils/" as *;

.menu {
  @extend %bg__lightgrey;
}

.menu__header {
  padding: 0 2rem 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;

  .courses__header {
    display: flex;
    flex-direction: column;
  }
}

.underline {
  background: $colour-greenishCyan;
  height: 0.2rem;
  width: 2.5rem;
  margin-top: 0.25rem;
}
