/* Sections ohmyfood */
/* Mobile First */
@use "../1-base/" as *;
@use "../2-utils/" as *;

.section {
  padding: 2rem 1.125rem;
  @include respond(tablet) {
    padding: 3rem 4rem;
  }
  @include respond(med-desktop) {
    padding: 3rem 5rem;
  }
  &__menu {
    border-radius: 2rem 2rem 0 0;
    margin-top: -2rem;
    position: relative;
  }
}
