/* Buttons ohmyfood */
/* Mobile First */
@use "../1-base/" as *;
@use "../2-utils/" as *;

.container-buttons {
  @include flex-center;
  width: 100%;
  @extend .bg__lightgrey;
}

.button {
  @extend %border-radius3;
  @include shadow-box;
  @include background-gradient;
  background-size: 300%;
  background-position: center;
  cursor: pointer;
  font-size: map-get($font-size, small);
  color: white;
  padding: 1rem;

  //.button responsive part
  @include respond(tablet) {
    font-size: map-get($font-size, "smedium");
  }
  @include respond(desktop) {
    font-size: map-get($font-size, "medium");
  }
  &__menu {
    padding: 1rem 2rem;
    margin: 2rem 0;
  }
}
