/* Buttons ohmyfood */
/* Mobile First */
@use "../1-base/" as *;
@use "../2-utils/" as *;

.container-buttons {
  @extend .bg__lightgrey;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  @include shadow-box;
  @include background-gradient;
  @extend %border-radius3;
  cursor: pointer;
  color: white;
  padding: 1rem;
  background-size: 300%;
  background-position: center;
  font-size: map-get($font-size, small);

  //.button responsive part
  @include respond(tablet) {
    font-size: map-get($font-size, "smedium");
  }

  @include respond(desktop) {
    font-size: map-get($font-size, "medium");
  }

  &__menu {
    margin: 2rem 0;
    padding: 1rem 2rem;
  }
}
