/* Cards ohmyfood */
/* Mobile First */
@use "../1-base/" as *;
@use "../2-utils/" as *;

/* Global containers of cards */
.container-cards {
  @include flex-column;
  justify-content: space-around;
  padding: 1rem 0;
  &__instruction,
  &__restaurant,
  &__menu {
    align-items: center;
    //.container-cards responsive part
    @include respond(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }
  }
}

/* This part has been added to allow the subdivision of restaurant menu cards */
.subcontainer-cards {
  padding: 0.5rem 0;
  width: 100%;
  &__menu {
    //.subcontainer-cards responsive part
    @include respond(tablet) {
      width: 70%;
    }
    @include respond(desktop) {
      width: 45%;
    }
    @include respond(large-desktop) {
      width: 30%;
    }
  }
}

/* All class of card */
.card {
  @include flex-verticenter;
  @include shadow-box;
  @extend %border-radius1;
  margin: 1rem 0;
  position: relative;
  height: 5rem;
  animation: displayCard 1s ease 2s 1 both;
  overflow: hidden;
  h3 {
    padding-bottom: 0.5rem;
  }
  /* Details of Menu Card, only used on the main page */
  &__details {
    @include flex-center;
    justify-content: space-between;
    padding: 0rem 1rem;
    height: 100%;
    width: 100%;
    position: relative;
  }
  &__instruction {
    width: 95%;
    counter-increment: card-list;
    overflow: initial;
    //card__instructions responsive part
    @include respond(tablet) {
      width: 20rem;
    }
    @include respond(desktop) {
      width: 22rem;
    }
    @include respond(med-desktop) {
      width: 24rem;
    }
    @include respond(med-desktop) {
      width: 26rem;
    }
    &::before {
      content: counter(card-list);
      @include flex-center;
      @extend %border-radius3;
      padding: 0.5rem 0.75rem;
      background: $colour-mediumPurple;
      color: white;
      position: absolute;
      left: -1rem;
    }
    @include animation-delay-loop(3, 2s);
  }
  &__restaurant,
  &__menu {
    background: white;
  }
  &__restaurant {
    @include flex-column;
    height: 15rem;
    width: 100%;
    overflow: hidden;
    //card__restaurant responsive part
    @include respond(tablet) {
      width: 45%;
    }
    @include respond(desktop) {
      height: 20rem;
    }
    @include respond(med-desktop) {
      height: 25rem;
    }
    @include respond(large-desktop) {
      width: 23%;
    }
    @include animation-delay-loop(4, 2.5s);
  }
  &__img {
    height: 10rem;
    width: 100%;
    //card__img responsive part
    @include respond(desktop) {
      height: 15rem;
    }
    @include respond(med-desktop) {
      height: 20rem;
    }
  }
  &__new::after {
    content: "Nouveau";
    background: $colour-greenishCyan;
    color: darken($colour-greenishCyan, 50%);
    @extend %border-radius0;
    padding: 0.75rem 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-family: $ffamily-roboto;
  }
}

.card__menu {
  cursor: pointer;
  height: 5.3rem;
  @include animation-delay-loop(4, 2.5s);
  .menu__description {
    @include flex-column;
    min-width: 0%;
    max-width: 80%;
    & > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .menu__price {
    font-weight: map-get($font-weight, bold);
    position: absolute;
    right: 1rem;
    bottom: 0.25rem;
  }
  &--visible {
    @extend .card__details;
    height: 4rem;
    min-width: 0%;
    max-width: 100%;
  }
  &--overlay {
    @extend .card__details;
    @include flex-center;
    background: $colour-greenishCyan;
    color: white;
    display: none;
    max-width: 5rem;
    animation: displayCheck 600ms ease-in-out both;
    .icon {
      animation: spinner 600ms 1 300ms forwards;
    }
  }
}

.card__restaurant:active,
.card__menu:active,
.card__restaurant:hover,
.card__menu:hover {
  @include shadow-box-over;
  .card__menu--overlay {
    display: flex;
  }
}

@include respond(desktop) {
  .card__restaurant:active,
  .card__menu:active,
  .card__restaurant:hover,
  .card__menu:hover {
    @include shadow-box-over;
    .card__menu--overlay {
      display: flex;
    }
  }
}
