/* Cards ohmyfood */
/* Mobile First */
@use "../1-base/" as *;
@use "../2-utils/" as *;

/* Global containers of cards */
.container-cards {
  padding: 1rem 0;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.container-cards__instruction,
.container-cards__restaurant,
.container-cards__menu {
  align-items: center;

  //.container-cards responsive part
  @include respond(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

/* This part has been added to allow the subdivision of restaurant menu cards */
.subcontainer-cards {
  width: 100%;
  padding: 0.5rem 0;
}

//.subcontainer-cards responsive part
.subcontainer-cards__menu {
  @include respond(tablet) {
    width: 70%;
  }
  @include respond(desktop) {
    width: 45%;
  }
  @include respond(large-desktop) {
    width: 30%;
  }
}

/* All class of card */
.card {
  @include shadow-box;
  @extend %border-radius1;
  animation: displayCard 1s ease 2s 1 both;
  height: 5rem;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;

  h3 {
    padding-bottom: 0.5rem;
  }
}

/* Details of Menu Card, only used on the main page */
.card__details {
  height: 100%;
  width: 100%;
  padding: 0rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.card__instruction {
  width: 95%;
  counter-increment: card-list;
  overflow: initial;
  //card__instructions responsive part
  @include respond(tablet) {
    width: 20rem;
  }
  @include respond(desktop) {
    width: 22rem;
  }
  @include respond(med-desktop) {
    width: 24rem;
  }
  @include respond(med-desktop) {
    width: 26rem;
  }

  &::before {
    content: counter(card-list);
    @extend %border-radius3;
    background: $colour-mediumPurple;
    color: white;
    padding: 0.5rem 0.75rem;
    position: absolute;
    left: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include animation-delay-loop(3, 2s);
}

.card__restaurant,
.card__menu {
  background: white;
}

.card__restaurant {
  height: 15rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  //card__restaurant responsive part
  @include respond(tablet) {
    width: 45%;
  }
  @include respond(desktop) {
    height: 20rem;
  }
  @include respond(med-desktop) {
    height: 25rem;
  }
  @include respond(large-desktop) {
    width: 23%;
  }
  @include animation-delay-loop(4, 2.5s);
}

.card__img {
  height: 10rem;
  width: 100%;

  //card__img responsive part
  @include respond(desktop) {
    height: 15rem;
  }
  @include respond(med-desktop) {
    height: 20rem;
  }
}

.card__new::after {
  @extend %border-radius0;
  content: "Nouveau";
  background: $colour-greenishCyan;
  color: darken($colour-greenishCyan, 50%);
  padding: 0.75rem 1rem;
  font-family: $ffamily-roboto;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.card__menu {
  @include animation-delay-loop(4, 2.5s);
  cursor: pointer;
  height: 5rem;
  line-height: 1.5rem;

  .menu__description {
    min-width: 0%;
    max-width: 80%;
    display: flex;
    flex-direction: column;

    & > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .menu__price {
    font-weight: map-get($font-weight, bold);
    position: absolute;
    right: 1rem;
    bottom: 0.6rem;
  }
}

.card__menu--visible {
  @extend .card__details;
  min-width: 0%;
  max-width: 100%;
}

.card__menu--overlay {
  @extend .card__details;
  animation: displayCheck 600ms ease-in-out both;
  background: $colour-greenishCyan;
  color: white;
  max-width: 5rem;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  .icon {
    animation: spinner 600ms 1 300ms forwards;
  }
}

.card__restaurant:active,
.card__menu:active,
.card__restaurant:hover,
.card__menu:hover {
  @include shadow-box-over;

  .card__menu--overlay {
    display: flex;
  }
}

@include respond(desktop) {
  .card__restaurant:active,
  .card__menu:active,
  .card__restaurant:hover,
  .card__menu:hover {
    @include shadow-box-over;

    .card__menu--overlay {
      display: flex;
    }
  }
}
