/* Icons ohmyfood */
@use "../1-base/" as *;
@use "../2-utils/" as *;

.bg--active > .icon {
  color: $colour-mediumPurple;
}

.icon {
  font-size: map-get($font-size, "medlarge");
}

.icon__return {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  @include respond(tablet) {
    left: 4rem;
  }
  @include respond(desktop) {
    left: 6rem;
  }
  @include respond(med-desktop) {
    left: 10rem;
  }
}

.icon__instruction {
  padding: 0 2rem;
}

.icon__footer {
  width: 2rem;
}

.icon__restaurant {
  font-size: map-get($font-size, "large");
}

.icon__restaurant--empty {
  position: absolute;
  opacity: 1;
}

.icon__restaurant--filled {
  background-image: linear-gradient(
    to bottom left,
    $colour-reddishMagenta,
    $colour-mediumPurple
  );
  background-clip: text;
  color: transparent;
  opacity: 0;
}
