/* Icons ohmyfood */
@use "../1-base/" as *;
@use "../2-utils/" as *;

.bg--active > .icon {
  color: $colour-mediumPurple;
}

.icon {
  font-size: map-get($font-size, "medlarge");
}

.icon__return {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  @include respond(tablet) {
    left: 4rem;
  }
  @include respond(desktop) {
    left: 6rem;
  }
  @include respond(med-desktop) {
    left: 10rem;
  }
}

.icon__heart {
  font-size: map-get($font-size, "large");
  &--empty {
    position: absolute;
    opacity: 1;
  }

  &--filled {
    background-image: linear-gradient(
      to bottom left,
      $colour-reddishMagenta,
      $colour-mediumPurple
    );
    background-clip: text;
    color: transparent;
    opacity: 0;
  }
}
