/* Buttons ohmyfood */
@use "../1-base/" as *;
@use "../2-utils/" as *;

img {
  object-fit: cover;
}

.restaurant__background {
  height: 20rem;
  @include respond(med-desktop) {
    height: 25rem;
  }
}
