@use '../abstracts/' as *; 

*{
    font-family: $ffamily-roboto;
    font-weight: map-get($map: $font-weight, $key: normal);
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    @include flex-column;
}

h1, h2, h3, h4 {
    font-family: $ffamily-shrikhand;
}

.title{
    font-family: $ffamily-shrikhand;
    font-size: map-get($font-size, "mlarge");
    &__footer{
        font-size: map-get($font-size, "small");
    }
    
}

h1{
    font-size: map-get($font-size, "xlarge");
}

h2{
    font-size: map-get($font-size, "large");
}

h3{
    font-size: map-get($font-size, "smedium");
}

h4{
    font-size: map-get($font-size, "medium");
}

a, p {
    font-size: map-get($font-size, "small");
}

.link{
    @include padding-vertical(small)
}

.fas{
    width: 30px;
}