@use '../abstracts/' as *; 

*{
    box-sizing: border-box;
    font-family: $ffamily-roboto;
    font-weight: map-get($map: $font-weight, $key: normal);
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    @include flex-column;
}

h1, h2, h3, h4 {
    font-family: $ffamily-roboto;
}

.title{
    font-family: $ffamily-shrikhand;
    font-size: map-get($font-size, "mlarge");
    &__footer{
        font-size: map-get($font-size, "small");
    }
    
}

h1{
    font-size: map-get($font-size, "xlarge");
    font-weight: map-get($font-weight, "xbold" );
    margin-bottom: 8%;
}

h2{
    font-size: map-get($font-size, "large");
    font-weight: map-get($font-weight, "xbold" );
    margin-bottom: 6%;
}

h3{
    font-size: map-get($font-size, "smedium");
    font-weight: map-get($font-weight, "bold" );
    margin-bottom: 5%;
}

h4{
    font-size: map-get($font-size, "small");
    font-weight: map-get($font-weight, "mediumbold" );
    margin-bottom: 5%;
}

a, p {
    font-family: $ffamily-roboto;
    font-size: map-get($font-size, "small");
    font-weight: map-get($font-weight, "xlight" );
}

img{
    object-fit: cover;
}

.link{
    @include padding-vertical(small)
}

.bggrey{
    background: $colour-darkGrey;
}

.bggrey--fo1{
    background: fade-out($colour-darkGrey, 0.80);
}

.bggrey--fo2{
    background: fade-out($colour-darkGrey, 0.92);
}

.bggrey--fo3{
    background: fade-out($colour-darkGrey, 0.96);
}

section{
    padding: 10% 5%;
}