/* Generic Styles definition */
/* Mobile First */
@use "../5-vendors/" as *;
@use "../2-utils/" as *;

* {
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Titles styles definition */
h1,
h2,
h3,
h4 {
  font-family: $ffamily-roboto;
}

h1 {
  font-size: map-get($font-size, "large");
  font-weight: map-get($font-weight, "bold");
  @include respond(tablet) {
    font-size: map-get($font-size, "xlarge");
  }
}

h2 {
  font-size: map-get($font-size, "medlarge");
  font-weight: map-get($font-weight, "xbold");
  @include respond(tablet) {
    font-size: map-get($font-size, "large");
  }
}

h3 {
  font-size: map-get($font-size, "smedium");
  font-weight: map-get($font-weight, "bold");
  @include respond(tablet) {
    font-size: map-get($font-size, "medium");
  }
  @include respond(desktop) {
    font-size: map-get($font-size, "medlarge");
  }
}

h4 {
  font-size: map-get($font-size, "small");
  font-weight: map-get($font-weight, "mediumbold");
  @include respond(tablet) {
    font-size: map-get($font-size, "smedium");
  }
  @include respond(desktop) {
    font-size: map-get($font-size, "medium");
  }
}

/* Text styles definition */
a,
p,
span,
input {
  font-family: $ffamily-roboto;
  font-size: map-get($font-size, "small");
  font-weight: map-get($font-weight, "light");
  @include respond(tablet) {
    font-size: map-get($font-size, "medium");
  }
  @include respond(desktop) {
    font-size: map-get($font-size, "medlarge");
  }
}

/* Generic hover animations definition */
/* Change colour to gradient on active/hover */
a:hover,
a:active,
a:active > i,
a:hover > i,
a:active > .title,
a:hover > .title {
  @include text-gradient;
}

/* Change shadow on hover*/
.button:hover,
.button:active {
  background-position: left;
  @include shadow-box-over;
}

/* Change add a cursor on active/hover and fill the heart icon */
.container-icons:hover,
.container-icons:active {
  cursor: pointer;

  .icon__restaurant--empty {
    opacity: 0;
  }

  .icon__restaurant--filled {
    opacity: 1;
  }
}

/* Change colour "locate city icon" on active/hover */

.form__locate {
  i:hover,
  i:active {
    cursor: pointer;
    color: $colour-reddishMagenta;
  }
}
