@use "../2-utils/" as *;

* {
  box-sizing: border-box;
  font-family: $ffamily-roboto;
}

body {
  @include flex-column;
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: $ffamily-roboto;
}

.title {
  font-family: $ffamily-shrikhand;
  font-size: map-get($font-size, "mlarge");
  &__footer {
    font-size: map-get($font-size, "small");
  }
  &__menu {
    font-weight: map-get($font-weight, "xlight");
  }
}

h1 {
  font-size: map-get($font-size, "xlarge");
  font-weight: map-get($font-weight, "bold");
}

h2 {
  font-size: map-get($font-size, "large");
  font-weight: map-get($font-weight, "xbold");
}

h3 {
  font-size: map-get($font-size, "smedium");
  font-weight: map-get($font-weight, "bold");
}

h4 {
  font-size: map-get($font-size, "small");
  font-weight: map-get($font-weight, "mediumbold");
}

a,
p,
span,
input {
  font-family: $ffamily-roboto;
  font-size: map-get($font-size, "small");
  font-weight: map-get($font-weight, "light");
}
