/* Generic Styles definition */
/* Mobile First */
@use "../2-utils/" as *;

* {
  box-sizing: border-box;
}

body {
  @include flex-column;
  position: relative;
}

/* Titles styles definition */
h1,
h2,
h3,
h4 {
  font-family: $ffamily-roboto;
}

.title {
  font-family: $ffamily-shrikhand;
}

h1 {
  font-size: map-get($font-size, "large");
  font-weight: map-get($font-weight, "bold");
  @include respond(tablet) {
    font-size: map-get($font-size, "xlarge");
  }
}

h2 {
  font-size: map-get($font-size, "medlarge");
  font-weight: map-get($font-weight, "xbold");
  @include respond(tablet) {
    font-size: map-get($font-size, "large");
  }
}

h3 {
  font-size: map-get($font-size, "smedium");
  font-weight: map-get($font-weight, "bold");
  @include respond(tablet) {
    font-size: map-get($font-size, "medium");
  }
  @include respond(desktop) {
    font-size: map-get($font-size, "medlarge");
  }
}

h4 {
  font-size: map-get($font-size, "small");
  font-weight: map-get($font-weight, "mediumbold");
  @include respond(tablet) {
    font-size: map-get($font-size, "smedium");
  }
  @include respond(desktop) {
    font-size: map-get($font-size, "medium");
  }
}

/* Text styles definition */

a,
p,
span,
input {
  font-family: $ffamily-roboto;
  font-size: map-get($font-size, "small");
  font-weight: map-get($font-weight, "light");
  @include respond(tablet) {
    font-size: map-get($font-size, "medium");
  }
  @include respond(desktop) {
    font-size: map-get($font-size, "medlarge");
  }
}
