/* Placeholders ohmyfood */

@use 'vars' as *; 

%border-radius1{
    border-radius: 1rem;
}

%border-radius2{
    border-radius: 1.25rem;
}

%border-radius3{
    border-radius: 2rem;
}

.bg__grey{
    background: $colour-darkGrey;
}

.bg__greyfo1{
    background: fade-out($colour-darkGrey, 0.80);
}

.bg__greyfo2{
    background: fade-out($colour-darkGrey, 0.92);
}

.bg__greyfo3{
    background: fade-out($colour-darkGrey, 0.96);
}

.bg__greyfo4{
    background: rgb(246, 246, 246);
}

.bg--active{
    background : fade-out($colour-mediumPurple , 0.82);
    &>.icon__card{
        color: $colour-mediumPurple;
    }
}