/* Colors Library */
$colour-mediumPurple : #9356DC;
$colour-reddishMagenta : #FF79DA;
$colour-greenishCyan : #99E2D0;
$colour-darkGrey : #353535;
$colour-lightGrey : #eaeaea50;


/* Fonts  */

    /* & Style */
    $ffamily-shrikhand : 'Shrikhand', cursive;
    $ffamily-roboto : 'Roboto', sans-serif;

    /* & Size */
    $font-size:(
        "xlarge" : 42px,
        "large" : 38px,
        "mlarge" : 32px,
        "medium" : 22px, 
        "smedium" : 18px,
        "small" : 14px,
        "xsmall" : 12px,
    );

    /* & Weight */
    $font-weight:(
    "xbold" : 900,
    "bold" : 700,
    "mediumbold" : 500,
    "medium" : 400,
    "light" : 300,
    "xlight" : 100
    );
    
/* Breakpoints */
$breakpoints: (
    "large-phone": 575px,
    "tablet": 767px,
    "desktop": 991px,
);

/* Paddings */
$paddings-all : (
    "small" : 5px 2% 10px 2%,
    "medium" : 10px 4% 15px 4%,
    "large" : 20px 8% 20px 8%,
);

$paddings-vertical : (
    "small" : 3px,
    "medium" : 5px,
    "large" : 10px,
);

$paddings-horizonntal : (
    "small" : 2%,
    "medium" : 4%,
    "large" : 8%,
);