/* Animation Styles definition */
/* Mobile First */

@use "vars" as *;
@use "mixins" as *;

/* Using transition everywhere for the following property */
* {
  @include transition(background-position, box-shadow, opacity, color);
}

/* Kreyframes definition */
/* Display the Spinner then fade out */
@keyframes displaySpinner {
  95% {
    opacity: 1;
    visibility: hidden;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Rotate the Spinner for 360degrees */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Display the card by translation */
@keyframes displayCard {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Display the green Check logo */
@keyframes displayCheck {
  0% {
    transform: translateX(5rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Generic hover animations definition */
/* Change colour to gradient on active/hover */
a:hover,
a:hover > *,
.link:hover,
a:active,
a:active > *,
.link:active {
  @include text-gradient;
}

/* Change shadow on hover*/
.button:hover,
.button:active {
  background-position: left;
  @include shadow-box-over;
}

/* Change add a cursor on active/hover and fill the heart icon */
.container-icons:hover,
.container-icons:active {
  cursor: pointer;
  .icon__restaurant {
    &--empty {
      opacity: 0;
    }

    &--filled {
      opacity: 1;
    }
  }
}

/* Change colour "locate city icon" on active/hover */
.icon__locate-city:hover,
.icon__locate-city:active {
  cursor: pointer;
  color: $colour-reddishMagenta;
}
