@use "vars" as *;
@use "mixins" as *;

* {
  @include transition(background-position, box-shadow, opacity, color);
}

@keyframes displaySpinner {
  95% {
    opacity: 1;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes displayCard {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes displayCheck {
  0% {
    transform: translateX(5rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

a:hover,
a:hover > *,
.link:hover {
  @include text-gradient;
}

.button:hover {
  background-position: left;
  @include shadow-box-over;
}

.container-icons:hover,
.container-icons:active {
  cursor: pointer;
  .icon__restaurant {
    &--empty {
      opacity: 0;
    }
    &--filled {
      opacity: 1;
    }
  }
}

.icon__locate-city:hover {
  cursor: pointer;
  color: $colour-reddishMagenta;
}
