/* Colors Library */
$colour-mediumPurple: #9356dc;
$colour-reddishMagenta: #ff79da;
$colour-greenishCyan: #99e2d0;
$colour-darkGrey: #353535;
$colour-lightGrey: rgb(246, 246, 246);

/* Fonts  */

/* & Style */
$ffamily-shrikhand: "Shrikhand", cursive;
$ffamily-roboto: "Roboto", sans-serif;

/* & Size */
$font-size: (
  "xlarge": 2rem,
  "large": 1.5rem,
  "medlarge": 1.25rem,
  "medium": 1.125rem,
  "smedium": 1.1rem,
  "small": 1rem,
  "xsmall": 0.9rem,
);

/* & Weight */
$font-weight: (
  "xbold": 900,
  "bold": 700,
  "mediumbold": 500,
  "medium": 400,
  "light": 300,
  "xlight": 100,
);

/* Breakpoints */
$breakpoints: (
  "large-phone": 574px,
  "tablet": 767px,
  "desktop": 991px,
  "large-desktop": 1365px,
);

/* Paddings 
$paddings-all : (
    "small" : 5px 2% 10px 2%,
    "medium" : 10px 4% 15px 4%,
    "large" : 20px 8% 20px 8%,
);

$paddings-vertical : (
    "small" : 3px,
    "medium" : 5px,
    "large" : 10px,
);

$paddings-horizonntal : (
    "small" : 2%,
    "medium" : 4%,
    "large" : 16%,
);*/
